<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>featuremovieshop</title>
  <link rel="stylesheet" type="text/css" href="/ccs/style.css?version=51">
  <link rel="shortcut icon" href="#" />
  <script src="https://kit.fontawesome.com/c2e4aa9ea1.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="bar" th:fragment="ShopHeaderAdmin">
  <nav class="logo"><a href="http://localhost:8080">featuremovieshop logo</a></nav>
  <nav class="menu">
    <ul>
      <li class="navItem"><a href="">catalog</a></li>
      <li class="navItem"><a href="http://localhost:8080/admin/add">Add</a></li>
      <li class="navItem"><a href="http://localhost:8080/admin/delete">Delete</a></li>
      <li class="navItem"><a href="http://localhost:8080/admin/edit">Edit</a></li>
      <li class="navItem"><a href=http://localhost:8080/admin>Admin</a></li>
      <li class="navItem"><a href="#">
        <span th:href="@{/order/summary}"><i class="fa-solid fa-cart-shopping"></i></span>
        <span>(</span>
        <span th:text="${@cart.counter}"></span>
        <span>)</span>
        <span th:text="${@cart.sum}"></span>
        <span>€</span>
        <span></span>
      </a></li>
    </ul>
  </nav>
</header>
</body>
</html>