<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<header th:replace="/topbar/headerAdmin :: ShopHeaderAdmin">
</header>
<body>
  <div class="main-content">

      <div class="summary">
          <h1>Dodaj Nowy Film</h1>

          <form th:action="@{/admin/save}" method="post">
              <label>Nazwa</label>
              <input type="text" name="name" required>
              <label >Cena</label>
              <input type="number" min="1" step="1" name="price" required>
              <label>urlImg</label>
              <input type="text" name="imgUrl">
              <button class="add-btn-delete"  type="submit">Dodaj</button>
          </form>


      </div>
  </div>


</body>
</html>