<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>featuremovieshop</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
  <header th:replace="~{/topbar/headerAdmin :: ShopHeaderAdmin}">
</header>
<body>
<div class="main-content">
  <div class="tabele">
    <table>
      <caption>Baza aktualnych Filmów</caption>
      <thead>
      <tr>
        <th>Lp</th>
        <th>Nazwa Filmu</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody th:each="item, stat : ${items}">
      <tr>
        <td th:text="${stat.index + 1}"></td> <!-- Dodano numerowanie -->
        <td>
          <p th:text="${item.name}"></p>
          <img class="summary-img" th:src="@{${item.imgUrl}}" alt="Movie poster">
        </td>
        <td><a class="add-btn-edit" th:href="@{'/admin/edit/' + ${item.idmovies2}}">Edit</a></td>
        <td><form th:action="@{'/admin/delete/' + ${item.idmovies2}}" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" class="add-btn-delete">Delete</button>
        </form></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>