<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/ccs/style.css">
    <link rel="stylesheet" href="../../static/ccs/style.css">
</head>
<header th:replace="/topbar/headerAdmin :: ShopHeaderAdmin">

</header>
<body>
<body>
<div class="main-content">

    <div class="summary">
        <h1>Delete video by id</h1>

        <form th:action="@{/admin/save}" method="post">
            <label>enter video id</label>
            <input type="text" name="idmovies2" required>
            <br>
            <button class="add-btn-delete"  type="submit">Delete</button>
        </form>


    </div>
</div>
  <script src="/src/main/resources/static/JavaScript/EditItem.js"></script>


</body>
</html>