<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/ccs/style.css">
    <link rel="stylesheet" href="../../static/ccs/style.css">
</head>
<header th:replace="/topbar/headerAdmin :: ShopHeaderAdmin">

</header>
<body>
  <div class="main-content">
      <div class="tabele">
          <table>
              <caption>Current Movies Database</caption>
              <thead>
              <tr>
                  <th>Lp</th>
                  <th>Movie Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
              </thead>
              <tbody th:each="item, iterStat : ${items}">
              <tr id="numberedList">
                  <td  th:text="${iterStat.count}"></td>
                  <td><p th:text="${item.name}"></p><img class="summary-img" th:src="@{${item.imgUrl}}"></td>
                  <td><a class="add-btn-edit" th:href="@{'/admin/edit/' + ${item.idmovies2}}">Edit</a></td>
                  <td><a class="add-btn-delete" th:href="@{'admin/delete/' + ${item.idmovies2}}">Delete</a></td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
  <script src="/src/main/resources/static/JavaScript/EditItem.js"></script>


</body>
</html>