<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/ccs/style.css">
</head>
<body>
<header th:replace="/topbar/header :: ShopHeader"git>
    </header>

    <div class="main-content">
        <div class="tabele">
            <table>
                <caption>Twoje aktualne zamówienie</caption>
                <thead>
                <tr>
                    <th>Lp</th>
                    <th>Nazwa Filmu</th>
                    <th>Ilość</th>
                    <th>Suma</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><p>Wakanda</p><img class="summary-img" src="/main/resources/static/img/product_thumb.png"></td>
                    <td style="display: flex; justify-content: center; margin-top: 70%;">
                        <a class="mbtn" th:href="@{'/order/decrease/' + ${cartItem.item.id}}">-</a>
                        <p th:text="${cartItem.counter}">2</p>
                        <a class="mbtn" th:href="@{'/order/increase/' + ${cartItem.item.id}}">+</a>
                    </td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><p>Wakanda</p><img class="summary-img" src="/main/resources/static/img/product_thumb.png"></td>
                    <td style="display: flex; justify-content: center; margin-top: 70%;">
                        <a class="mbtn" th:href="@{'/order/decrease/' + ${cartItem.item.id}}">-</a>
                        <p th:text="${cartItem.counter}">2</p>
                        <a class="mbtn" th:href="@{'/order/increase/' + ${cartItem.item.id}}">+</a>
                    <td>50</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="summary">
            <p><span>Do zapłaty: </span><span th:text="${@cart.sum}">10</span>zł</p>
        
        <a th:href="@{/order/summary}" class="add-btn">Dalej</a>
        </div>
    </div>
</body>
</html>
