<!DOCTYPE html>
<html>
    <header>
        <title>Soryy, an error has occurred</title>
        <link rel="stylesheet" type="text/css" href="/css/error404.css">
    </header>
    <body>
        <div class="container">
            <div class="image"><img class="img-error" src="/img/robot-with-x-symbol.jpg"> </div>
            <div class="message"><p>Hi! Sadly, this page doesn't exist, so we must give you a 404 message...</p></Hi></div>
            <div class="nav">
                <div class="information">
                        <p>However, you're more than welcome to stay!</p>
                </div>
                <div class="button-back">
                    <a class="button" href="/"> GO TO HOMEPAGE</a>
                </div>
            </div>
            
        </div>
    </body>
</html>