<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/ccs/style.css">
    <script src="https://kit.fontawesome.com/c2e4aa9ea1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bar">
        <nav class="logo"><a>featuremovieshop</a></nav>
        <nav class="menu">
            <ul>
                <li class="navItem"><a href="#">catalog</a></li>
                <li class="navItem"><a href="#">category</a></li>
                <li class="navItem"><a href="#">information</a></li>
                <li class="navItem"><a href="#">Admin</a></li>
                <li class="navItem"><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">

        <section id="product" class="product">
            <div class="product-item" th:each="item : ${items}">
                <img class="summary-img" th:src="@{${item.imgUrl}}" alt="friday" title="Awsome movie"/>
                <p class="product-name" th:text="${item.name}"></p>
                <p class="product-price" th:text="${item.price}"><zl></zl></p>
                <button class="product-btn"><a>Kup Teraz</a><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </section>
    </main>
   
</body>
</html>