<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/main/resources/static/ccs/style.css">
    <script src="https://kit.fontawesome.com/c2e4aa9ea1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bar">
        <nav class="logo"><a>featuremovieshop</a></nav>
        <nav class="menu">
            <ul>
                <li class="navItem"><a href="#">catalog</a></li>
                <li class="navItem"><a href="#">category</a></li>
                <li class="navItem"><a href="#">information</a></li>
                <li class="navItem"><a href="#">info</a></li>
                <li class="navItem"><a href="#">news</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">

        <section id="product" class="product">
            <div class="product-item">
                <img src="/main/resources/static/img/product_thumb.png" alt="friday" title="Awsome movie"/>
                <p class="product-name">Halloween Ends 4K UHD + Blu Ray</p>
                <p class="product-price">80 zł</p>
                <button class="product-btn"><a>Kup Teraz</a><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="product-item">
                <img src="/main/resources/static/img/product_thumb.png" alt="friday" title="Awsome movie"/>
                <p class="product-name">Halloween Ends 4K UHD + Blu Ray</p>
                <p class="product-price">80 zł</p>
                <button class="product-btn"><a>Kup Teraz</a><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="product-item">
                <img src="/main/resources/static/img/product_thumb.png" alt="friday" title="Awsome movie"/>
                <p class="product-name">Halloween Ends 4K UHD + Blu Ray</p>
                <p class="product-price">80 zł</p>
                <button class="product-btn"><a>Kup Teraz</a><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </section>
    </main>
   
</body>
</html>