
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>featuremovieshop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c2e4aa9ea1.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="bar" th:fragment="home">
    <nav class="logo"><a href="http://localhost:8080">featuremovieshop</a></nav>
    <nav class="menu">
        <ul>
            <li class="navItem"><a href=http://localhost:8080/ranking/movies"">TOP 20</a></li>
            <li class="navItem"><a href="#">NEW</a></li>
            <li class="navItem"><a href="#">Log In</a></li>
            <li class="navItem"><a th:href="@{/order/cart}">
                <span><i class="fa-solid fa-cart-shopping"></i></span>
                <span>(</span>
                <span th:text="${@cart.counter}"></span>
                <span>)</span>
                <span th:text="${@cart.sum}"></span>
                <span>€</span>
                <span></span>
            </a></li>
        </ul>
    </nav>
</header>
<main class="container">

    <section id="product" class="product">
        <div class="product-item" th:each="item : ${items}">
            <img class="summary-img" th:src="@{${item.imgUrl}}" alt="friday" title="Awsome movie"/>
            <p class="product-name" th:text="${item.name}"></p>
            <div class="product-text">
                <span>Now</span>
                <span>€</span>
                <span class="product-price" th:text="${item.price}"> </span>
            </div>

            <a class="product-btn" th:href="@{'/shop-all/' + ${item.idmovies2}}" >Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </section>
</main>

</body>
</html>
